@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

/* Root Variables */
:root {
  /* Colors */
  --col-primary-dark: hsl(233, 26%, 24%);
  --col-primary-500: hsl(136, 65%, 51%);
  --col-primary-300: hsl(192, 70%, 51%);

  --col-neutral-text: hsl(233, 8%, 62%);
  --col-neutral-bg-400: hsl(220, 16%, 96%);
  --col-neutral-bg-200: hsl(0, 0%, 98%);
  --col-neutral-light: hsl(0, 0%, 100%);

  /* Typography */
  --ff-primary: "Public Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Images URL's */
  --bg-img-desktop: url(./images/bg-intro-desktop.svg);
  --bg-img-mobile: url(./images/bg-intro-mobile.svg);
}

/* CSS Reset */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Utilities */
.bg-dark {
  background: var(--col-primary-dark);
}

.bg-med {
  background: var(--col-neutral-bg-400);
}

.bg-light {
  background: var(--col-neutral-bg-200);
}

.bg-white {
  background: var(--col-neutral-light);
}

/* Articles Images */
.currency {
  background-image: url(./images/image-currency.jpg);
}

.restaurant {
  background-image: url(./images/image-restaurant.jpg);
}

.plane {
  background-image: url(./images/image-plane.jpg);
}

.confetti {
  background-image: url(./images/image-confetti.jpg);
}

/* Base Styles - Mobile first approach */

body {
  margin: 0;
  padding: 0;

  font-family: var(--ff-primary);
  font-size: 1.125rem;
  font-weight: var(--fw-regular);

  color: var(--col-neutral-text);
  background-color: var(--col-neutral-bg-200);

  overflow-x: hidden;
}

/* Text */
h1,
h2,
h3 {
  font-weight: var(--fw-light);
  color: var(--col-primary-dark);
}

h2 {
  font-size: 2rem;
  line-height: 1.16;
  letter-spacing: -0.57px;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.36px;
  margin-top: 0.75em;
}

p,
.nav-desktop > a {
  color: var(--col-neutral-text);
}

.nav-mobile > a {
  color: var(--col-primary-dark);
}

.footer__links a {
  color: var(--col-neutral-light);
}

.footer__cta p {
  color: hsl(0, 0%, 100%, 0.5);
}

/* CTA Button */
.cta-btn {
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  background: linear-gradient(90deg, #33d35e, #2ab6d9);
  color: var(--col-neutral-light);
  padding: 1em 2.36em;
  border-radius: 1.57em;

  font-size: 0.875rem;
  font-weight: var(--fw-bold);
  position: relative;
}

.cta-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--col-neutral-light);
  border-radius: 1.57em;
  opacity: 0;
  transition: 150ms ease-in-out;
}

.cta-btn:hover::before {
  opacity: 0.4;
}

/* Hamburger Button */
.burger-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.burger-btn > span {
  display: block;
  background: var(--col-primary-dark);
  width: 24px;
  height: 1px;
  transform-origin: top center;
  transition: all 200ms ease-in-out;
}

.burger-btn > span:not(:last-of-type) {
  margin-bottom: 4px;
}

/* Handle animation onclick */
.burger-btn.open > span:first-child {
  opacity: 0;
}

.burger-btn.open > span:nth-child(2) {
  transform: rotate(-45deg);
  margin-bottom: -1px;
}

.burger-btn.open > span:last-child {
  transform: rotate(45deg);
}

.header__logo {
  margin-top: 0.3125em;
}

/* Mobile first approach */
.nav-desktop,
.header__cta {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  z-index: 2;
}

.header__container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  max-width: 69.4375rem;
  margin: 0 auto;
  padding: 1.22em 1.33em;
  position: relative;

  background: var(--col-neutral-light);
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.33em;
  padding: 1.78em 0;
  position: absolute;
  top: 6.25rem;
  border-radius: 0.3125rem;
  width: calc(100% - 2.67em);
  left: 50%;
  transform: translateX(-50%);
}

.nav-mobile a {
  position: relative;
}

.nav-mobile a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background: linear-gradient(90deg, #33d35e, #2ab6d9);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-mobile a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__overlay {
  opacity: 1;
  position: fixed;
  inset: 0;
  background-image: linear-gradient(#2d314d, transparent);
}

.hide {
  /* IMPORTANT: Doesnt allow screenreaders to access them */
  display: none;
}

.scroll-lock {
  overflow-y: hidden;
}

/* Banner Styles - Mobile */
.banner {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.9em;
}

.banner .image-container {
  background-image: var(--bg-img-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 15.67em;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container > img {
  position: absolute;
  padding: 0 1.17em;
  bottom: -0.75em;
  width: 100%;
  max-width: 28rem;
}

.banner__content {
  padding: 0 1.33em;
  margin-top: 2.28em;
  text-align: center;
}

.banner__content > p {
  font-size: 0.9375rem;
  line-height: 1.67;
  letter-spacing: -0.23px;
  margin-bottom: 2.13em;
  margin-top: 1.067em;
}

.banner__content > h1 {
  font-size: 2.5rem;
  line-height: 1.175;
  letter-spacing: -0.71px;
}

/* Testimonial Styles */
.testimonial {
  padding: 3.56em 1.33em 1.78em 1.33em;
  text-align: center;
}

.testimonial p {
  font-size: 0.9375rem;
  line-height: 1.67;
  letter-spacing: -0.23px;
  margin-top: 0.89em;
}

.testimonial .testimonial__features {
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  gap: 1.78em;
}

/* Articles Styles */
.articles {
  padding: 4.89em 1.33em;
}

.articles > .articles__container {
  display: flex;
  flex-direction: column;
  gap: 1.33em;
  margin-top: 1.78em;
}

.article__card {
  border-radius: 0.3125rem;
  overflow: hidden;
}

.article-img {
  height: 11.11em;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.article__card > .card__content {
  background: var(--col-neutral-light);
  padding: 1.72em 1.33em;
}

.card__content > .article__author {
  font-size: 0.625rem;
  letter-spacing: -0.16px;
  line-height: 1.8;
}

.card__content > h3 {
  margin: 0.44em 0;
  line-height: 1.25;
  letter-spacing: -0.29px;
  transition: 100ms ease-in;
}

.card__content > h3:hover {
  color: var(--col-primary-500);
}

.card__content p {
  font-size: 0.8125rem;
  line-height: 1.38;
  letter-spacing: -0.2px;
}

/* Footer Styles */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.22em 4.28em;
}

.footer .socials {
  display: flex;
  gap: 1rem;
  margin-top: 1.78em;
  margin-bottom: 1.78em;
}

svg :hover {
  fill: var(--col-primary-500);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.13em;
  font-size: 0.9375rem;
}

.footer__links li > a:hover {
  color: var(--col-primary-500);
}

.footer__cta > p {
  margin-top: 1.6em;
  font-size: 0.9375rem;
  line-height: 2.36;
  letter-spacing: -0.23px;
  min-width: 397px;
}
