@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

/* Root Variables */
:root {
  /* Colors */
  --col-primary-dark: hsl(233, 26%, 24%);
  --col-primary-500: hsl(136, 65%, 51%);
  --col-primary-300: hsl(192, 70%, 51%);

  --col-neutral-text: hsl(233, 8%, 62%);
  --col-neutral-bg-400: hsl(220, 16%, 96%);
  --col-neutral-bg-200: hsl(0, 0%, 98%);
  --col-neutral-light: hsl(0, 0%, 100%);

  /* Typography */
  --ff-primary: "Public Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Images URL's */
  --bg-img-desktop: url(./images/bg-intro-desktop.svg);
  --bg-img-mobile: url(./images/bg-intro-mobile.svg);
}

/* CSS Reset */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Utilities */
.bg-dark {
  background: var(--col-primary-dark);
}

.bg-med {
  background: var(--col-neutral-bg-400);
}

.bg-light {
  background: var(--col-neutral-bg-200);
}

.bg-white {
  background: var(--col-neutral-light);
}

/* Base Styles - Mobile first approach */

body {
  margin: 0;
  padding: 0;

  font-family: var(--ff-primary);
  font-size: 1.125rem;
  font-weight: var(--fw-regular);

  color: var(--col-neutral-text);
  background-color: var(--col-neutral-bg-200);

  overflow-x: hidden;
}

/* Text */
h1,
h2,
h3 {
  font-weight: var(--fw-light);
  color: var(--col-primary-dark);
}

h2 {
  font-size: 2rem;
  line-height: 1.16;
  letter-spacing: -0.57px;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.36;
}

p,
.nav-desktop > a {
  color: var(--col-neutral-text);
}

.nav-mobile > a {
  color: var(--col-primary-dark);
}

.footer__links a {
  color: var(--col-neutral-light);
}

.footer__cta p {
  color: hsl(0, 0%, 100%, 0.5);
}

/* CTA Button */
.btn {
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  background: linear-gradient(135deg, #33d35e, #2ab6d9);
  color: var(--col-neutral-light);
  padding: 1em 2.125em;
  border-radius: 2em;

  font-size: 0.875rem;
  font-weight: var(--fw-bold);
}

/* Hamburger Button */
.burger-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.burger-btn > span {
  display: block;
  background: var(--col-primary-dark);
  width: 24px;
  height: 1px;
  transform-origin: top center;
  transition: all 200ms ease-in-out;
}

.burger-btn > span:not(:last-of-type) {
  margin-bottom: 4px;
}

.burger-btn.open > span:first-child {
  opacity: 0;
}

.burger-btn.open > span:nth-child(2) {
  transform: rotate(-45deg);
  margin-bottom: -1px;
}

.burger-btn.open > span:last-child {
  transform: rotate(45deg);
}

.header__logo {
  margin-top: 0.3125em;
}

/* Mobile first approach */
.nav-desktop,
.header__cta {
  display: none;
}

.header {
  position: relative;
  width: 100%;
  z-index: 3;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  max-width: 69.4375rem;
  margin: 0 auto;
  padding: 1.375em 1.5em;
  position: relative;

  background: var(--col-neutral-light);
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  padding: 1.5em;
  position: absolute;
  top: 5.5em;
  border-radius: 5px;
  width: calc(100% - 3em);
  left: 50%;
  transform: translateX(-50%);
}

.header__overlay {
  opacity: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(#2d314d, transparent);
}

.hide {
  /* IMPORTANT: Doesnt allow screenreaders to access them */
  display: none;
}

.scroll-lock {
  overflow-y: hidden;
}

/* Banner Styles */
.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.banner .image-container {
  background-image: url(./images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 17.5625em;
  position: relative;
}

.image-container > img {
  position: absolute;
  padding: 0 1.5em;
  transform: translateX(-50%);
  top: -4.7em;
}

.banner__content {
  padding: 0 24px;
}

.banner__content > p {
  font-size: 0.9375rem;
  line-height: 1.67;
  letter-spacing: -0.23px;
  margin-bottom: 32px;
  margin-top: 16px;
}

.banner__content > .banner__btn {
  margin-bottom: 88px;
}

.banner__content > h1 {
  font-size: 2.5rem;
  line-height: 1.175;
  letter-spacing: -0.71px;
}

/* Testimonial Styles */
.testimonial {
  padding: 4em 1.5em 2.13em 1.5em;
  text-align: center;
}

.testimonial p {
  font-size: 0.9375rem;
  line-height: 1.67;
  letter-spacing: -0.23px;
  margin-top: 1.067em;
  margin-bottom: 2.13em;
}

.testimonial .testimonial__features {
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
}
